INSTANCE_TYPE=central
INSTANCE_ID=central

PORT=3000
ADMIN_UI_PORT=3002
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=mivend_central

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_URL=amqp://mivend:mivend@localhost:5672

SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin
