INSTANCE_TYPE=branch
INSTANCE_ID=branch-a

PORT=3001
ADMIN_UI_PORT=3003
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=mivend_branch

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_URL=amqp://mivend:mivend@localhost:5672

SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin
